# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Package build
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# PyBIDS index cache
.bids_cache/

# Temp
.tmp/
.temp/